*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background: linear-gradient(115deg, rgba(101,151,209,0.8),rgba(202,102,211,0.5)),url(/quizbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#title{
  text-align: center;
  padding: 0.8rem 0;
  font-size: 3rem;
  color: hsl(273, 87%, 25%);
  background: rgba(105,224,90,0.55);
  font-family: monospace, sans-serif;
}
#subtitle, .timer{
  text-align: center;
  padding: 0.8rem 0;
  font-size: 2.5rem;
  color: hsl(273, 88%, 33%);
  text-align: center;
  background: rgba(105,224,90,0.55);
  font-family: monospace, sans-serif;
}


#btn {
  text-align: center;
  align-items:center;
  align-content:center;

}

#btn, #startBtn {
  --hue: var(--hue-neutral);
  display: flex;
  border: 5px solid hsl(273, 91%, 14%);
  background-color: hsl(273, 88%, 33%);
  border-radius: 10px;
  color: white;
  outline: none;

}

#startbtn:hover {
  border-color: black;
}

.questions{
  margin: 3rem auto;
  width: 90vw;
  padding: 2rem;
  background: rgba(0,255,221,0.45);
  cursor: default;
  border-radius: 1rem;
}
#question{
  margin-bottom: 1rem;
}
.option{
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  border-bottom: solid 0.1rem blue;
  width: 15rem;
  background: lightblue;
  border-radius: 1rem;
}
.option:hover{
  color: white;
}
ol{
  position: relative;
  padding: 0 1.5rem;
  color: rgb(1,73,73);
}
span{
  padding: 0.1rem 0.7rem;
  border-radius: 1rem;
}
#answer{
  margin-top: 2.5rem;
}
#stat{
  margin-top: 1.5rem;
  color: rgb(6,17,168);
}
.buttons{
  text-align: center;
}
button{
  padding: 0.2rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: rgba(93,53,156,0.98);
  background: rgba(161,177,19,0.82);
}
button:active{
  background: lavender;
}
#scoreboard,#answerBank{
  width: 20rem;
  background: rgba(230,230,250,0.77);
  padding: 2rem;
  text-align: center;
  margin: auto;
  position: relative;
  top: 5rem;
  display: none;
}
#score-title{
  margin: 1rem 0;
}
#score-btn,#check-answer{
  margin-top: 1rem;
}
#score{
  font-size: 2.5rem;
}
#answerBank li{
  text-align: left;
  margin-bottom: 0.2rem;
  font-size: larger;
}
#answers{
  margin-top: 1rem;
}

