*{
  margin: 5px;
  padding: 5px;
  font-family: monospace, sans-serif;
}

body {
  background-color: #c7cbcd; 
}

main {
background-color: rgb(100, 185, 128);
border-radius: 10px;
border: 5px solid hsl(0, 38%, 25%);
}

div {
  font-family: monospace, sans-serif;
  font-size: 27px;
  justify-content: flex-start;
  color: blue;
  font-weight: bolder;
  font-family: monospace, sans-serif;
}

input {
  font-family: monospace, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
h1, 
h2 {
  display: flex;
  font-size: 35px;
  color: blue;
  justify-content: center;
  justify-items: center;
}

a {
  justify-content: flex-start;
  color: blue;
  font-size: 27px;
  font-weight: bolder;
  font-family: monospace, sans-serif;
}

a:hover {
  color: #03224f;
}

@media screen and (max-width: 350px) {
  a, div, h1, p {
    display:flex;
    max-width: 20rem;
  }
}

button {
  display: flex;
  margin: auto;
  font-family: monospace, sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: blue;
  color: white;
  border: 5px solid hsl(253, 83%, 9%);
  background-color: blue;
  border-radius: 10px;
}

btn-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}
p {
  display: flex;
  justify-content: center;
  font-family: monospace, sans-serif;
  font-size: 25px;
  margin-top: 5px;
}

.btn:hover {
  background-color: #343a40;
}

#qTitle {
  font-family: monospace bolder;
  margin: auto;
  width: 100%;
  color: hsl(273, 87%, 25%);
  text-align: center;
  cursor: default;
  border-radius: 1rem;
  font-size: 2rem;
}

#finalScore {
  margin: -5px 0px 0px 10px;
  font-weight: bold;
}

#aCheck {
  font-style: italic;
  font-weight: bold;
  color: blue;
}