*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, sans-serif;
}

#title{
  font-size: 15px;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 3rem;
  color: hsl(273, 87%, 25%);
  background: rgba(8, 81, 237, 0.55);
  font-family: monospace, sans-serif;
}

#subtitle, .timer{
  font-size: 18px;
  text-align: center;
  padding: 0.8rem 0;
  font-size: 2.5rem;
  color: hsl(273, 88%, 33%);
  text-align: center;
  background: rgba(8, 81, 237, 0.55);
  font-family: monospace, sans-serif;
}


#btn {
  text-align: center;
  align-items:center;
  align-content:center;

}

.startBtn {
  display: flex;
  justify-content: center;
}

#btn, #startBtn {
  display: flex;
  flex: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  border: 5px solid hsl(273, 91%, 14%);
  background-color: hsl(273, 88%, 33%);
  border-radius: 10px;
  color: white;
  outline: none;

}

#startbtn:hover {
  border-color: black;
}

.questions{
  margin: 3rem auto;
  width: 90vw;
  padding: 2rem;
  color: hsl(273, 87%, 25%);
  text-align: center;
  border: 5px solid hsl(273, 91%, 14%);
  background: rgba(8, 81, 237, 0.55);
  cursor: default;
  border-radius: 1rem;
  font-size: 1.5rem;
}
#ques{
  margin-bottom: 1rem;
}

.option{
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  border: 5px solid hsl(273, 91%, 14%);
  border-bottom: solid 0.1rem blue;
  max-width: 100rem;
  background: lightblue;
  border-radius: 1rem;
}
.option:hover{
  color: white;
}
ol{
  position: relative;
  padding: 0 1.5rem;
  color: hsl(273, 87%, 25%);
  font-weight: bolder;
}
span{
  padding: 0.1rem 0.7rem;
  border-radius: 1rem;
}
#answer{
  margin-top: 2.5rem;
}
#stat{
  margin-top: 1.5rem;
  color: hsl(273, 87%, 25%);
}

button{
  padding: 0.2rem 1.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 5px solid hsl(273, 91%, 14%);
  background-color: hsl(273, 88%, 33%);
  border-radius: 10px;
  color: white;
}
button:active{
  background: lavender;
}
#scoreboard,#answerBank{
  max-width: 40rem;
  background: rgba(230,230,250,0.77);
  padding: 2rem;
  text-align: center;
  margin: auto;
  position: relative;
  top: 5rem;
  display: none;
}
#scoreTitle{
  margin: 1rem 0;
}
#scoreBtn,#checkIt{
  margin-top: 1rem;
}
#score{
  font-size: 2.5rem;
}

#answerBank li{
  display: flex;
  text-align: left;
  margin-bottom: 0.2rem;
  font-size: 25px;
  font-family: monospace, sans-serif;
  color: hsl(273, 87%, 25%);
  border: 5px solid hsl(273, 91%, 14%);
}

#answers{
  margin-top: 1rem;
}

.hide{
  display: none;
}