* {
  font-family: monospace, sans-serif;
}

#mainContent {
  background-color: rgb(36, 123, 123);
  border-radius: 10px;
  border: 5px solid hsl(36, 123, 123);
  margin: 0 auto;
  max-width: 80%;
  padding: 20px 0px;
}

body {
  background-color: rgb(253, 240, 213);
}

div {
  font-family: monospace, sans-serif;
  font-size: 27px;
  justify-content: flex-start;
  font-weight: bolder;
  font-family: monospace, sans-serif;
  color: rgb(76, 44, 114);
}

input {
  font-family: monospace, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

h1 {
  display: flex;
  color: rgb(76, 44, 114);
  font-size: 35px;
  justify-content: center;
  font-weight: bold;
  margin-top: 5px;
}

h2{
  display: flex;
  color: rgb(253, 240, 213);
  font-size: 35px;
  justify-content: center;
  justify-items: center;
  font-weight: bold;
}

a {
  display: flex;
  color: rgb(76, 44, 114);
  font-size: 27px;
  font-weight: bolder;
  font-family: monospace, sans-serif;
  text-decoration: none;
  justify-content: center;
}

button:hover,
.btn:hover {
  color: rgb(100, 80, 123);
}

button:active,
.btn:active {
  background-color: rbg();
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button,
.btn,
.btnInfo {
  padding: 7px 15px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
  color: rgb(253, 240, 213);
  background-color: rgb(76, 44, 114);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}

#start {
  text-align: center;

}

#aCheck {
  display: flex;
  color: rgb(253, 240, 213);
  justify-content: center;
  font-style: italic;
  font-weight: bold;
}

#initialInput {
  color: rgb(76, 44, 114);
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  font-family: monospace, sans-serif;
  font-size: 25px;
  padding-top: 10px;
  color: rgb(253, 240, 213);
}

.viewScores,
#timer {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#qTitle {
  font-family: monospace bolder;
  margin: auto;
  width: 100%;
  color: hsl(273, 87%, 25%);
  text-align: center;
  cursor: default;
  border-radius: 1rem;
  font-size: 2rem;
}

#finalScore {
  margin-left: 15px;
  font-weight: bold;
}

.btn-info {
  display: flex;
  justify-content: center;
}
/* @media screen and (max-width: 350px) {
  a, div, h1, p {
    display:flex;
    max-width: 20rem;
  }
} */