*, *::before, *::after {
  box-sizing: border-box;
  font-family: monospace, sans-serif;
  border-radius: 10px;
}

:root {
  --hue-neutral: 240;
  --hue-wrong: 0;
  --hue-right: 100;
}
div {
  margin-top: 10px; 
  font-size: 30px; 
  font-weight: bolder;
  color: hsl(265, 90%, 34%);
}

h1 {
  color: hsl(265, 90%, 34%);
  font-weight: bolder;
  font-size: 35px;
  font-family: monospace, sans-serif;
  margin: 0px;
  padding-top: 22px;
  padding-bottom: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-size: 35px;

}

li {
  padding: 10px;
}

.title, .subtitle {
  text-align: center;
  font-weight: bolder;
}

.title {
  padding-top: 20px;
  font-size: 50px;
}

.timer-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  color: hsl(265, 90%, 34%);
  text-align: center;
}

.subtitle {
  padding-top: 7px;
  padding-bottom: 25px;
  font-size: 35px;
}
.btn.right {
  --hue: var(--hue-right);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.btn {
  --hue: var(--hue-neutral);
  border: 5px solid hsl(273, 91%, 14%);
  background-color: hsl(273, 91%, 45%);
  border-radius: 10px;
  color: white;
  outline: none;
}


.btn:hover {
  border-color: black;
}

.right {
  --hue: var(--hue-right);
  color: black;
}

.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 35px;
}

.game-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}

.hide {
  display: none;
}


