.container {
  margin: auto;
  width: 100%;
  height: 100px;
  text-align: center;
}

.quiz {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

#main {
  margin-bottom: 20px;
  font-size: 100px;
  width: 100%;
  height: 25px;
}

#read {
  margin: auto;
  padding: 10px;
  width: 100%;
  height: 25px;
}
